@import "CSS/media.css";
@import "CSS/grid.css";
@import "CSS/feature.css";

#nav{
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
}

li{
  display: inline;
  padding: 5px;
}

p.one, p.two, p.three{
  flex-direction: row;
  align-content: stretch;

}
.body{
font-family: arial, sans-serif;
padding: 15px;
background-color: #f1f1f1;
}

.site-header{
padding: 30px;
font-size: 35px;
text-align: center;
background-color: white;
}

.blog-body{
  border: none;
  padding: 15px;
  font-size: 14px;
  margin-bottom: auto;
  background-color: #e1f2e6;
}
